$dark: #02021f
$darkPurple: #430a7d
$purple: #9f05b8
$pink: #f900f2

$textGray: #d9d9d9
$bgGray: rgba(255,255,255,0.952)

$bgBlack: #141414

$baselineWidth: 1100px

@mixin btn($color, $hover)
  font-size: 1rem
  padding: 2.5%
  overflow: hidden
  border-width: 0
  outline: none
  border-radius: 2px
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6)
  background-color: $color
  color: white
  @include transition(background-color)
  cursor: pointer
  &:hover
    background-color: $hover

@mixin transition($effect)
  transition: $effect .35s ease-in-out

@mixin scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white,  50%))
  // For Google Chrome
  &::-webkit-scrollbar 
    width:  $size
    height: $size
  
  &::-webkit-scrollbar-thumb
    background: $foreground-color
  

  &::-webkit-scrollbar-track
    background: $background-color
  

  // For Internet Explorer
  &
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color
  
  -webkit-overflow-scrolling: touch

@mixin baseline-device
  @media (max-width: $baselineWidth) 
    @content
  
@mixin small-device
  @media (max-width: 767px) 
    @content

@mixin small-device-landscape
  @media (max-width: 767px) and (orientation: landscape)
    @content
  
@mixin small-device-portrait
  @media (max-width: 767px) and (orientation: portrait)
    @content

@mixin medium-device
  @media (max-width: 991px)
    @content

@mixin large-device
  @media (max-width: 1199px)
    @content
